{% extends "base.html" %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{% if dish_category %} {{dish_category}} {% else %}Dishes {% endif %}({{dishes|length}})</h2>
      </div>
      <div class="col-12">
        <a href="/">Home</a>
        <a href="/dishes">Món ăn</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Menu Start -->
<div class="menu mt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
          {% for category in menu %}
          <li class="nav-item">
            <a class="nav-link" href="#c-{{ category.cat_id }}">{{ category.cat_name }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content mt-4">
          <div class="row">
            {% for dish in dishes %}
            <div class="col-md-4 mb-4">
              <div class="card">
                {% if dish.image %}
                <a href="http://127.0.0.1:8000{{ dish.image }}" target="_blank">
                  <img src="http://127.0.0.1:8000{{ dish.image }}" style="height: 300px;width: 100%;" alt="Dish Image">
              </a>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ dish.name }}</h5>
                  <p class="card-text">Ingredients: {{ dish.ingredients }}</p>
                  <h6 class="menu-text" style="font-weight: normal;">
                    {% if dish.price != dish.discounted_price %}
                    <strong><del>&dollar;{{ dish.price }}</del></strong>
                    {% endif %}
                    <strong>&dollar;{{ dish.discounted_price }}</strong>
                  </h6>
                  <p>
                    <script>
                      var ing = '{{dish.ingredients}}'.split(',');
                      for (ingredient in ing) {
                        document.write("<span class='btn btn-sm mr-1 mb-1 btn-outline-success'>" + ing[ingredient] + "</span>");
                      }
                    </script>
                  </p>
                  {% if dish.is_available %}
                    {% if user.is_superuser or user.is_staff %}
                      <!-- Additional functionality for admin or staff -->
                    {% elif user.is_active %}
                      {{ form.render }}
                    {% else %}
                      <p><a href="{% url 'login' %}">Đăng nhập</a> </p>
                    {% endif %}
                  {% else %}
                    <p class="text-danger">Không có sẵn!</p>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu End -->
{% endblock %}
